@model IEnumerable<RentACar.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/h1.css" />

<style>
    a {
        color:white;
        text-decoration: none
    }
    #heading-box {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
    #heading-box button {
        float: right;
        height: 4em
    }
</style>

<div id="heading-box">
    <h1>Cars</h1>
    <button type="button" class="btn btn-dark btn-sm"> 
        <a class="active" asp-action="Create">Create</a>
    </button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Passenger Seats</th>
            <th>Description</th>
            <th>Price Per Day</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-dark">
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassengerSeats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PricePerDay)
                </td>
                <td>
                    <a class="active" asp-action="Details" asp-route-id="@item.Id">Details |</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="active" asp-action="Edit" asp-route-id="@item.Id">Edit |</a> 
                        <a class="active" asp-action="Delete" asp-route-id="@item.Id">Delete </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
