@model IEnumerable<RentACar.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/h1.css" />

<style>
    a {
        color:white;
        text-decoration: none
    }
</style>

<h1>Cars</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Make
            </th>
            <th>
                Model
            </th>
            <th>
                Year
            </th>
            <th>
                Passenger Seats
            </th>
            <th>
                Description
            </th>
            <th>
                Price Per Day
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-dark">
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassengerSeats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PricePerDay)
                </td>
                <td>

                    <a class="active" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @if (User.IsInRole("Admin"))
                    {

                        <a class="active" asp-action="Edit" asp-route-id="@item.Id">Edit</a>

                        <a class="active" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
