@model IEnumerable<RentACar.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/h1.css" />

<style>
    a {
        color: white;
        text-decoration: none
    }
</style>

<h1>Reservations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Car Id
            </th>
            <th>
                User Id
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Is Approved
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr class="table-dark">
                <td>
                    @Html.DisplayFor(modelItem => item.CarId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsApproved)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
