@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/h1.css" />

<style>
    a {
        color: white;
        text-decoration: none
    }
    #heading-box {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
    #heading-box button {
        float: right;
        height: 4em
    }
</style>

<div id="heading-box">
    <h1>Users</h1>
    <button type="button" class="btn btn-dark btn-sm">
        <a class="active" asp-action="Create">Create</a>
    </button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Username</th>
            <th>Email Confirmed</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr class="table-dark">
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>@user.EmailConfirmed</td>
                <td>
                    <a class="active" asp-action="Details" asp-route-id="@user.Id">Details |</a>
                    <a class="active" asp-action="Edit" asp-route-id="@user.Id">Edit |</a>
                    <a class="active" asp-action="Delete" asp-route-id="@user.Id">Delete </a>
                </td>
            </tr>
        }
    </tbody>
</table>
